& .input-wrapper, & .checkbox-wrapper, & .radio-wrapper, & .textarea-wrapper {

    margin-bottom: 1.6rem;  

    & label {
        display: block;
        margin-bottom: 1.2rem;
    }
}

input, textarea, .checkbox-option {

    /* all:unset; */

    border: 1px solid var(--color-input-stroke);
    border-radius: .8rem;
    background-color: var(--color-input-base);

    color: var(--color-input-placeholder);

    &:hover, &:focus {
        outline: 2px solid var(--color-brand-light);
    }
}

input, textarea {
    padding: 1.6rem;
}