.radio-wrapper {
    display: grid;

    
    grid-template-columns: repeat(auto-fill, max(13.4rem));    
}

.checkbox-wrapper {     

    padding: .4rem;
    width: 27.2rem;    

    position: relative;

    & .checkbox-option {
        display: flex;
        gap: .4rem;
    }

    & .radio-inner {            

        border: 1px solid green;
        
        cursor: pointer;

        display: flex;
        gap: .8rem;

        align-items: center;
        justify-content: center;
        
        
        height: 4rem;
        width: 13rem;

        & img {
            width: 1.6rem;
        }
    }

    & .radio-image {

        position: absolute;

        width: 2.4rem;
        height: 2.4rem;
        
        &:has(:checked){
            border: 2px solid blue;
        }
    }

    & input {
        opacity: 100;        
    }

    &:has(input:checked) {
        svg path {
            stroke: aqua;
        }
    }
        


    

    
}