.radio-wrapper {
    display: grid;

    
    grid-template-columns: repeat(auto-fill, max(13.4rem));    
}

.checkbox-wrapper {

    position: relative;

    .checkbox-option {
        display: flex;
        gap: .4rem;
        padding: .4rem;
    }

    & .radio-inner {

        cursor: pointer;

        gap: .8rem;

        justify-content: center;
        align-items: center;        
        
        height: 4rem;
        width: 13rem;

        & input {
            opacity: 0;
        }

        & img {
            width: 1.6rem;
        }

        &:has(input:checked) {
            border-radius: .4rem;
            background-color: var( --color-shape-button);
        }

        &:has(input:checked) {

            svg path {
                stroke: var(--color-brand-light);    
            }     
        }
    }    

    

    

   
        


    

    
}