* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-bg: #131516;
    --color-shape-body: #212427;
    --color-shape-button: #2D3136;
    --color-shape-hover: #383D42;
    --color-input-base: #1C1F21;
    --color-input-stroke: #363B40;
    --color-input-placeholder: #869198;
    --color-brand-light: #59B2FF;
    --color-brand-mid: #3487CF;
    --color-brand-dark: #1D6FB6;
    --color-danger: #FF5959;
    --color-text-heading: #F9F9F9;    

    --font: "Open Sans", serif;
    --font-heading: "Baloo 2", serif;

    --text-md: 1.6rem var(--font);
    --text-sm: 1.4rem var(--font);
    --text-xs: 1.2rem var(--font);
    --text-heading-md: bold 2.8rem var(--font-heading);
    --text-heading-sm: 1.8rem var(--font-heading);
    --text-logo: 4.0rem "Leckerli One", cursive;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.gap-16 {
    gap: 1.6rem;
}

body {
    color: white;
}